<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="onload_css :: commonHeader('首页')"></head>
<body>
<div id="gaobh">
    <div th:include="header :: header"></div>
    <main id="main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">关于crainnogao</div>
                        <div class="panel-body about">
                            <ul class="list-unstyled">
                                <li>name:crainnogao</li>
                                <li>sex:femail</li>
                                <li>height:160cm</li>
                                <li>weight:noclear</li>
                                <li>job:program monkey</li>
                                <li>home:earth</li>
                                <li>hobby:bit tl</li>
                                <li>skfjie:jfieuwjhfir</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div th:include="footer :: copyright"></div>
</div>
<div th:include="onload_js :: onloadJS"></div>

</body>
</html>