<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="onload_css :: commonHeader('首页')"></head>
<body>
<div id="gaobh">
    <div th:include="header :: header"></div>
    <main id="main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card white darken-2" style="padding: 2em;">
                        <div class="panel-heading">
                            <div><strong th:text="${indexModel.logs.logTitle}"></strong></div>
                        </div>
                        <div class="panel-body" th:text="'关键字：'+${indexModel.logs.logSummary}"></div>
                        <div id="detaillog"></div>
                        <input type="hidden" name="detaillogcontentfir" id="detaillogcontentfir"
                               th:value="${indexModel.logs.logContent}">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="ds-thread" th:data-thread-key="${indexModel.logs.id}"
                         th:data-title="${indexModel.logs.logTitle}"
                         th:data-url="'/detail?logId='+${indexModel.logs.id}"></div>
                </div>
            </div>
    </main>
    <div th:include="footer :: copyright"></div>
</div>
<div th:include="onload_js :: onloadJS"></div>

</body>
</html>