<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="onload_css :: commonHeader('首页')"></head>
<body>
<div id="gaobh">
    <div th:include="header :: header"></div>
    <main id="main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card white darken-2">
                        <div class="card-content black-text">
                            <blockquote>归档目录</blockquote>
                            <div class="collection" th:each="log:${indexModel.logsList}">
                                <a class="collection-item" th:data-logid="${log.id}"
                                   th:href="'/detail?logId='+${log.id}">
                                    <span class="time" th:text="${log.gmtCreateStr}"></span>
                                    <span th:text="${log.logTitle}"></span>
                                    <span class="badgeSelf" th:if="${log.count >0 }" th:text="${log.count}"></span>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div th:include="footer :: copyright"></div>
</div>
<div th:include="onload_js :: onloadJS"></div>

</body>
</html>